appdirs==1.4.4
asgiref==3.2.10
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.4
configparser==5.0.1
crayons==0.4.0
distlib==0.3.1
Django==3.1.2
docutils==0.16
exrex==0.10.5
filelock==3.0.12
gitdb==4.0.5
GitPython==3.1.12
httplib2==0.18.1
idna==2.10
image==1.5.32
jedi==0.18.0
parso==0.8.1
Pillow==8.0.1
Pygments==2.7.4
pygubu==0.10.3
pypiwin32==223
PyQt5==5.15.1
PyQt5-sip==12.8.1
pyTelegramBotAPI==3.7.3
python-resize-image==1.1.19
pytz==2020.1
pywin32==300
requests==2.24.0
selenium==3.141.0
six==1.15.0
smmap==3.0.4
sqlparse==0.4.1
urllib3==1.25.11
webdriver-manager==3.2.2
